 <div *ngIf = 'usuario'> <!-- solo va entrar y poner la informacion cuadno usuario tiene informacion. Si no tiene entonces no entra_ esta es una validacion-->
  <p>
    <b>Genero:</b> {{ usuario.gender }}
    <br>
    <b>Nombre:</b> {{ usuario.name['title'] }} {{ usuario.name['first'] }} {{ usuario.name['last'] }}
  </p>
</div>

<div>
  <h2>Operador Map</h2>
  <button type="button" class="boton" (click)="showFemale()">Femenino</button>

  <div *ngIf="femenino">
    <p>
      <b>Genero:</b> {{ usuario2.gender }}
        <br>
      <b>Nombre:</b> {{ usuario2.name['title'] }} {{ usuario2.name['first'] }} {{ usuario2.name['last'] }}
    </p>
  </div>
  
</div>

<!--TAREA 1- CANADA-->
<div>
  <h3>Distintos de Canadá</h3>
  <button type="button" class="boton" (click)="ShowDistintos()">Nacionalidad</button>

  <div *ngIf="nacionalidad">
    <p>
      <b>País:</b> {{ usuario ['location'].country }}
        <br>
      <b>Nombre:</b> {{ usuario.name['title'] }} {{ usuario.name['first'] }} {{ usuario.name['last'] }}
    </p>
  </div>
  
</div>
<br><br>

<!--Practica-->
<div>
  <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>

<div>
  <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>
  <div *ngIf="usuario3">
    <p>
      <b>Nombre:</b> {{ usuario3.name['title'] }} {{  usuario3.name ['first']}} {{  usuario3.name['last'] }}
    </p>
    <p>
      <b>Foto:</b>
      <br>
      <img [src]="usuario3['picture'].large" alt="personas">
    </p>
  </div>
</div>
<br><br>

<!--TAREA 2-->
<div>

  <button type="button" class="boton" (click)="mostrarDatos()">Mostrar Datos</button>

  <div *ngIf="usuario4">
    <p>
      <b>Nombre:</b> {{ usuario4.name['title'] }} {{  usuario4.name ['first']}} {{  usuario4.name['last'] }}
    </p>

    <p>
    <b>Nombre de Usuario:</b> {{ usuario4['login'].username }}
    </p>

    <p>
    <b>Correo:</b>{{ usuario4.email }}
    </p>

    <p>
    <b>Contraseña</b> {{ usuario4['login']. password }}
    </p>

    <p>
      <b>Foto:</b>
      <br>
      <img [src]="usuario4['picture'].large" alt="foto large">
      <img [src]="usuario4['picture'].medium" alt="foto medium">
      <img [src]="usuario4['picture'].thumbnail" alt="foto thumbnail">
    </p>
  </div>
</div>